<div class="widget">
  <div class="widget-title"><i class="fa fa-trophy"></i> Recent Games</div>
  <div class="widget-body large no-padding">
    <ul class="media-list">
      <li class="media recent-game" ng-repeat="game in games">
        <a class="pull-left" href="/games/{{ game.id }}">
          <i class="media-object fa fa-trophy fa-3x"></i>
        </a>
        <div class="media-body">
          <h4 class="media-heading">
            {{ game.player_home.name }} vs. {{ game.player_away.name }}
            <span class="pull-right small">{{ game.created_at | date:'MMM d, yyyy (h:mma)'}}</span>
          </h4>
          <span class="pull-left">{{ game.score_home }} : {{ game.score_away }}</span>
        </div>
      </li>
    </ul>
  </div>
</div>
