<div class="row">
    <div class="col-lg-8 col-md-12 col-xs-12">
        <div class="widget scoreboard">
            <div class="widget-body large text-center">
                <span class="pull-left text-left name">
                    {{ game.player_home.name }}<br/>
                    <gravatar for="game.player_home.gravatar"></gravatar>
                </span>
                <span class="pull-right text-right name">
                    {{ game.player_away.name }}<br/>
                    <gravatar for="game.player_away.gravatar"></gravatar>
                </span>
                <span class="score">
                    <span ng-class="{'winner': game.score_home == 5}">{{ game.score_home }}</span> :
                    <span ng-class="{'winner': game.score_away == 5}">{{ game.score_away }}</span>
                </span>
                <div class="text-center">
                    <span ng-if="game.finished==1">FINAL<br/></span>
                    {{ game.created_at | date:'MMM d, yyyy (h:mma)' }}
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-4 col-md-12 col-xs-12">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-xs-12">
                <div class="widget">
                    <div class="widget-title"><i class="fa fa-child"></i>{{ game.player_home.name }}</div>
                    <div class="widget-body">
                        Wins: {{ game.player_home.wins }}<br/>
                        Losses: {{ game.player_home.losses }}<br/>
                        Rating: {{ game.player_home.rating }}
                        <span ng-class="{'winner': game.score_home == 5,'loser': game.score_away == 5}" ng-if="game.finished">({{ game.home_rating_change }})</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 col-md-12 col-xs-12">
                <div class="widget">
                    <div class="widget-title"><i class="fa fa-child"></i>{{ game.player_away.name }}</div>
                    <div class="widget-body">
                        Wins: {{ game.player_away.wins }}<br/>
                        Losses: {{ game.player_away.losses }}<br/>
                        Rating: {{ game.player_away.rating }}
                        <span ng-class="{'winner': game.score_away == 5,'loser': game.score_home == 5}" ng-if="game.finished">({{ game.away_rating_change }})</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-8 col-md-12 col-xs-12">
        <div class="widget">
            <div class="widget-title"><i class="fa fa-bar-chart-o"></i> Score History</div>
            <div class="widget-body score-history">
                <div ac-chart="chartType" ac-data="data" ac-config="config" id='chart' class='chart'></div>
            </div>
        </div>
    </div>
</div>
