<div class="row">
    <div class="col-lg-12 col-md-12 col-xs-12">
        <div class="widget scoreboard">
            <div class="widget-body large text-center">
                <div class="text-center" ng-if="game.finished==1 && !gameGoingOn[0].id">
                    <button class="btn btn-sm btn-info" ng-click="rematch()">
                        Rematch
                    </button>
                </div>
                <span class="pull-left text-left name">
                    {{ game.player_home.name }} <button class="btn btn-sm btn-info" ng-if="game.finished == 0 && game.manual == 1" ng-click="incrementScore('home')">Score</button><br/>
                    <gravatar for="game.player_home.gravatar"></gravatar>
                </span>
                <span class="pull-right text-right name">
                    <button class="btn btn-sm btn-info" ng-if="game.finished == 0 && game.manual == 1" ng-click="incrementScore('away')">Score</button> {{ game.player_away.name }}<br/>
                    <gravatar for="game.player_away.gravatar"></gravatar>
                </span>
                <span class="score">
                    <span ng-class="{'winner': game.score_home == 5}">{{ game.score_home }}</span> :
                    <span ng-class="{'winner': game.score_away == 5}">{{ game.score_away }}</span>
                </span>
                <div ng-if="game.finished==1" class="text-center">
                    <span>FINAL<br/></span>
                    {{ game.updated_at | date:'MMM d, yyyy (h:mma)' }}
                </div>
                <div ng-if="game.finished==0" class="text-center">
                    <game-clock start="{{ game.created_at }}"></game-clock>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-8 col-md-12 col-xs-12">
        <div class="widget">
            <div class="widget-title"><i class="fa fa-bar-chart-o"></i> Score History</div>
            <div class="widget-body score-history">
                <div ac-chart="chart.chartType" ac-data="chart.data" ac-config="chart.config" id='chart' class='chart'></div>
            </div>
        </div>
    </div>
    <div class="col-lg-4 col-md-12 col-xs-12">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-xs-12 nested-col">
                <div class="widget">
                    <div class="widget-title"><i class="fa fa-child"></i>{{ game.player_home.name }}</div>
                    <div class="widget-body">
                        <gravatar for="game.player_home.gravatar" g-class="'pull-right'"></gravatar>
                        Wins: {{ game.player_home.wins }}<br/>
                        Losses: {{ game.player_home.losses }}<br/>
                        Leauge Points: {{ game.player_home.rating }}
                        <span ng-class="{'winner': game.score_home == 5,'loser': game.score_away == 5}" ng-if="game.finished">
                            ({{ game.score_home == 5 ? '+' : '-' }}{{ game.home_rating_change }})
                        </span>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 col-md-12 col-xs-12 nested-col">
                <div class="widget">
                    <div class="widget-title"><i class="fa fa-child"></i>{{ game.player_away.name }}</div>
                    <div class="widget-body">
                        <gravatar for="game.player_away.gravatar" g-class="'pull-right'"></gravatar>
                        Wins: {{ game.player_away.wins }}<br/>
                        Losses: {{ game.player_away.losses }}<br/>
                        League Points: {{ game.player_away.rating }}
                        <span ng-class="{'winner': game.score_away == 5,'loser': game.score_home == 5}" ng-if="game.finished">
                            ({{ game.score_away == 5 ? '+' : '-' }}{{ game.away_rating_change }})
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
