<div class="modal-header">
    <h3 class="modal-title">Start a new game</h3>
</div>
<div class="modal-body">
    <form class="form-horizontal" role="form">
        <div class="form-group">
            <label for="home-team" class="col-sm-3 control-label">Home Player:</label>
            <div class="col-sm-9">
                <input type="text" ng-model="homeTeam" class="form-control" id="home-team" placeholder="Home player" typeahead="user as user.name for user in users | filter:{name:$viewValue}" typeahead-editable="false">
            </div>
        </div>
        <div class="form-group">
            <label for="away-team" class="col-sm-3 control-label">Away Player:</label>
            <div class="col-sm-9">
                <input type="text" ng-model="awayTeam" class="form-control" id="away-team" placeholder="Away player" typeahead="user as user.name for user in users | filter:{name:$viewValue}" typeahead-editable="false">
            </div>
        </div>
    </form>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" ng-click="$close()">Start game</button>
    <button class="btn btn-link" ng-click="$dismiss()">Cancel</button>
</div>
