<div class="row" ng-cloak>
  <div class="col-lg-3 col-md-6 col-xs-12">
    <div class="widget">
      <div class="widget-body">
        <div class="widget-icon green pull-left">
          <img ng-src="http://www.gravatar.com/avatar/{{ user.gravatar }}" alt="" class="gravatar" />
        </div>
        <div class="widget-content pull-left">
          <div class="title profile-name">{{ user.name }}</div>
        </div>
        <div class="clearfix"></div>
      </div>
    </div>
  </div>
  <div class="col-lg-3 col-md-6 col-xs-12">
    <div class="widget">
      <div class="widget-body">
        <div class="widget-icon red pull-left">
          <i class="fa fa-trophy"></i>
        </div>
        <div class="widget-content pull-left">
          <div class="title">{{ user.games_played }}</div>
          <div class="comment">Games played</div>
        </div>
        <div class="clearfix"></div>
      </div>
    </div>
  </div>
  <div class="col-lg-3 col-md-6 col-xs-12">
    <div class="widget">
      <div class="widget-body">
        <div class="widget-icon orange pull-left">
          <i class="fa fa-sign-in"></i>
        </div>
        <div class="widget-content pull-left">
          <div class="title">{{ user.goals_scored }}</div>
          <div class="comment">Goals scored</div>
        </div>
        <div class="clearfix"></div>
      </div>
    </div>
  </div>
  <div class="col-lg-3 col-md-6 col-xs-12">
    <div class="widget">
      <div class="widget-body">
        <div class="widget-icon blue pull-left">
          <i class="fa fa-clock-o"></i>
        </div>
        <div class="widget-content pull-left">
          <div class="title">{{ user.time_played }}</div>
          <div class="comment">Minutes played</div>
        </div>
        <div class="clearfix"></div>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-lg-8">
    <recent-games-index for="user.games" />
  </div>
  <div class="col-lg-4">
    <div class="widget">
      <div class="widget-title"><i class="fa fa-bar-chart-o"></i> Stats</div>
      <div class="widget-body large">
        <h4>Goals</h4>
        <span class="bar-label">scored</span>
        <div class="progress">
          <div class="progress-bar good-progress" role="progressbar" aria-valuenow="{{ user.goals_scored }}" aria-valuemin="0" aria-valuemax="{{ totalGoals }}" ng-style="{width: percent_scored+'%'}">
          </div> &nbsp; {{ user.goals_scored }}
        </div>
        <span class="bar-label">given</span>
        <div class="progress">
          <div class="progress-bar" role="progressbar" aria-valuenow="{{ user.goals_given }}" aria-valuemin="0" aria-valuemax="{{ totalGoals }}" ng-style="{width: percent_given+'%'}">
          </div> &nbsp; {{ user.goals_given }}
        </div>
      </div>
    </div>
  </div>
</div>
