<div class="user-listing-container">
  <div class="row" ng-repeat="user in users | orderBy:'rating':true">
    <div class="col-lg-12">
      <div class="widget user-listing">
        <div class="widget-body">
          <div class="media">
            <a class="pull-left" href="/players/{{ user.id }}">
              <gravatar for="user.gravatar"></gravatar>
            </a>
            <div class="media-body">
              <h4 class="media-heading">
                {{ user.name }} <i class="fa fa-trophy rank-icon"></i>
                <span class="pull-right">{{ user.rating }}</span>
              </h4>
              <span class="pull-left">
                Games: {{ user.games_played }}, Goals: {{ user.goals_scored }},
                Minutes: {{ user.time_played }}
              </span>
            </div>
        </div>
      </div>
    </div>
  </div>
</div>
