<div class="widget">
  <div class="widget-title">
    <i class="fa fa-users"></i> Players
    <div class="clearfix"></div>
  </div>
  <div class="widget-body medium no-padding">
    <div class="table-responsive">
      <table class="table">
        <thead>
          <tr>
            <th>Username</th>
            <th class="text-center">Games Played</th>
            <th class="text-center">Goals Scored</th>
            <th class="text-center">Rating</th>
          </tr>
        </thead>
        <tbody>
            <tr ng-repeat="user in users | orderBy:'rating':true">
                <td><a href="/players/{{ user.id }}">{{ user.name }}</a></td>
                <td class="text-center">{{ user.games_played }}</td>
                <td class="text-center">{{ user.goals_scored }}</td>
                <td class="text-center">{{ user.rating }}</td>
            </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
