<div class="row" ng-cloak>
  <div class="col-lg-3 col-md-6 col-xs-12">
    <div class="widget">
      <div class="widget-body">
        <div class="widget-icon pull-left">
          <gravatar for="user.gravatar"></gravatar>
        </div>
        <div class="widget-content pull-left">
          <div class="title">{{ user.name }}</div>
          <div class="comment">{{ user.department }}</div>
        </div>
        <div class="clearfix"></div>
      </div>
    </div>
  </div>
  <div class="col-lg-3 col-md-6 col-xs-12">
    <div class="widget">
      <div class="widget-body">
        <div class="widget-icon pull-left">
          <i class="fa fa-trophy red-icon"></i>
        </div>
        <div class="widget-content pull-left">
          <div class="title">{{ user.games_played }}</div>
          <div class="comment">Games played</div>
        </div>
        <div class="clearfix"></div>
      </div>
    </div>
  </div>
  <div class="col-lg-3 col-md-6 col-xs-12">
    <div class="widget">
      <div class="widget-body">
        <div class="widget-icon pull-left">
          <i class="fa fa-star orange-icon"></i>
        </div>
        <div class="widget-content pull-left">
          <div class="title">{{ user.rating }}</div>
          <div class="comment">League Rating</div>
        </div>
        <div class="clearfix"></div>
      </div>
    </div>
  </div>
  <div class="col-lg-3 col-md-6 col-xs-12">
    <div class="widget">
      <div class="widget-body">
        <div class="widget-icon pull-left">
          <i class="fa fa-clock-o blue-icon"></i>
        </div>
        <div class="widget-content pull-left">
          <div class="title">{{ user.time_played }}</div>
          <div class="comment">Minutes played</div>
        </div>
        <div class="clearfix"></div>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-lg-8">
    <recent-games-index for="user.games" />
  </div>
  <div class="col-lg-4">
    <div class="widget">
      <div class="widget-title"><i class="fa fa-bar-chart-o"></i> Stats</div>
      <div class="widget-body large">
        <user-stat-bar title="'Games'" title-positive="'wins'" title-negative="'losses'" positive-value="user.wins" negative-value="user.losses"
                       max-value="user.games_played" percent-positive="percent_wins" percent-negative="percent_losses">
        </user-stat-bar>
        <user-stat-bar title="'Goals'" title-positive="'scored'" title-negative="'given'" positive-value="user.goals_scored" negative-value="user.goals_given" max-value="totalGoals" percent-positive="percent_scored" percent-negative="percent_given">
        </user-stat-bar>
      </div>
    </div>
  </div>
</div>
