<!doctype html>
<html lang="en" ng-app="DigiFoosball">
<head>
	<meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

	<title>Digi Foosball</title>

  <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="css/font-awesome.min.css">
  <link rel="stylesheet" type="text/css" href="css/dashboard/dashboard.css">
  <link rel="stylesheet" type="text/css" href="css/themes/blue.css">

  <script type="text/javascript" src="app/bower_components/angular/angular.min.js"></script>
  <script type="text/javascript" src="js/angular-cookies.js"></script>
  <script type="text/javascript" src="js/ng-bootstrap-tpls.min.js"></script>
  <script type="text/javascript" src="app/bower_components/angular-route/angular-route.min.js"></script>
  <script type="text/javascript" src="app/bower_components/angular-inflector/dist/angular-inflector.min.js"></script>
  <script type="text/javascript" src="app/bower_components/angular-restmod/dist/angular-restmod.min.js"></script>
  <script type="text/javascript" src="app/app.js"></script>
  <script type="text/javascript" src="app/controllers.js"></script>
  <script type="text/javascript" src="app/directives.js"></script>
  <script type="text/javascript" src="app/services.js"></script>
</head>
<body ng-controller="MainCtrl">
  <div id="page-wrapper" ng-class="{'active': toggle}" ng-cloak>

    <!-- Sidebar -->

    <div id="sidebar-wrapper">
      <ul class="sidebar">
        <li class="sidebar-main">
          <a href="#" ng-click="toggleSidebar()">
            <img src="http://www.digi.com/images/logo-digi-white.png" alt="Digi" style="max-height:45px;"/>
            &nbsp;&nbsp;Foosball
            <span class="menu-icon glyphicon glyphicon-transfer"></span>
          </a>
        </li>
        <li class="sidebar-title"><span>NAVIGATION</span></li>
        <li class="sidebar-list">
          <a href="#">Dashboard <span class="menu-icon fa fa-tachometer"></span></a>
        </li>
        <li class="sidebar-list">
          <a href="#">Game History <span class="menu-icon fa fa-tasks"></span></a>
        </li>
        <li class="sidebar-list">
          <a href="#">Player List <span class="menu-icon fa fa-users"></span></a>
        </li>
      </ul>
      <div class="sidebar-footer">
        <div class="col-xs-12">
          <a href="https://github.com/BRKalow/digifoosball" target="_blank">
            Github
          </a>
        </div>
      </div>
    </div>

    <!-- End Sidebar -->

    <div id="content-wrapper">
      <div class="page-content">

        <!-- Header Bar -->

        <div class="row header">
          <div class="col-xs-12">
            <div class="meta pull-left">
              <div class="page">
                Digi Foosball 
              </div>
              <div class="breadcrumb-links">
                Home / Dashboard
              </div>
            </div>
          </div>
        </div>

        <!-- End Header Bar -->

        <!-- Main Content -->
          <div class="row" ng-if="msg">
            <div class="col-lg-12">
             The score is {{ msg.score_home }} to {{ msg.score_away }} 
            </div>
          </div>
          <div class="row">
            <div class="col-lg-3 col-md-6 col-xs-12">
              <div class="widget">
                <div class="widget-body">
                  <div class="widget-icon green pull-left">
                    <i class="fa fa-users"></i>
                  </div>
                  <div class="widget-content pull-left">
                    <div class="title">80</div>
                    <div class="comment">Users</div>
                  </div>
                  <div class="clearfix"></div>
                </div>
              </div>
            </div>
            <div class="col-lg-3 col-md-6 col-xs-12">
              <div class="widget">
                <div class="widget-body">
                  <div class="widget-icon red pull-left">
                    <i class="fa fa-tasks"></i>
                  </div>
                  <div class="widget-content pull-left">
                    <div class="title">16</div>
                    <div class="comment">Servers</div>
                  </div>
                  <div class="clearfix"></div>
                </div>
              </div>
            </div>
            <div class="col-lg-3 col-md-6 col-xs-12">
              <div class="widget">
                <div class="widget-body">
                  <div class="widget-icon orange pull-left">
                    <i class="fa fa-sitemap"></i>
                  </div>
                  <div class="widget-content pull-left">
                    <div class="title">225</div>
                    <div class="comment">Documents</div>
                  </div>
                  <div class="clearfix"></div>
                </div>
              </div>
            </div>
            <div class="spacer visible-xs"></div>
            <div class="col-lg-3 col-md-6 col-xs-12">
              <div class="widget">
                <div class="widget-body">
                  <div class="widget-icon blue pull-left">
                    <i class="fa fa-support"></i>
                  </div>
                  <div class="widget-content pull-left">
                    <div class="title">62</div>
                    <div class="comment">Tickets</div>
                  </div>
                  <div class="clearfix"></div>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-6">
              <div class="widget">
                <div class="widget-title"><i class="fa fa-tasks"></i> Servers</div>
                <div class="widget-body medium no-padding">
                  <div class="table-responsive">
                    <table class="table">
                      <tbody>
                        <tr><td>Server Name</td><td>127.0.0.1:80</td></tr>
                        <tr><td>Server Name</td><td>127.0.0.1:80</td></tr>
                        <tr><td>Server Name</td><td>127.0.0.1:80</td></tr>
                        <tr><td>Server Name</td><td>127.0.0.1:80</td></tr>
                        <tr><td>Server Name</td><td>127.0.0.1:80</td></tr>
                        <tr><td>Server Name</td><td>127.0.0.1:80</td></tr>
                        <tr><td>Server Name</td><td>127.0.0.1:80</td></tr>
                        <tr><td>Server Name</td><td>127.0.0.1:80</td></tr>
                        <tr><td>Server Name</td><td>127.0.0.1:80</td></tr>
                        <tr><td>Server Name</td><td>127.0.0.1:80</td></tr>
                        <tr><td>Server Name</td><td>127.0.0.1:80</td></tr>
                        <tr><td>Server Name</td><td>127.0.0.1:80</td></tr>
                        <tr><td>Server Name</td><td>127.0.0.1:80</td></tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-6">
              <div class="widget">
                <div class="widget-title">
                  <i class="fa fa-users"></i> Users
                  <input type="text" placeholder="Search" class="form-control input-sm pull-right" />
                  <div class="clearfix"></div>
                </div>
                <div class="widget-body medium no-padding">
                  <div class="table-responsive">
                    <table class="table">
                      <thead>
                        <tr>
                          <th class="text-center">ID</th>
                          <th>Username</th>
                          <th>Role</th>
                          <th>Account</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <td class="text-center">1</td>
                          <td>Joe Bloggs</td>
                          <td>Super Admin</td>
                          <td>AZ23045</td>
                        </tr>
                        <tr>
                          <td class="text-center">2</td>
                          <td>Timothy Hernandez</td>
                          <td>Admin</td>
                          <td>AU24783</td>
                        </tr>
                        <tr>
                          <td class="text-center">3</td>
                          <td>Joe Bickham</td>
                          <td>User</td>
                          <td>AM23781</td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-6">
              <div class="widget">
                <div class="widget-title">
                  <i class="fa fa-warning"></i> Notifications
                  <button class="btn btn-sm btn-success pull-right">Clear</button>
                  <div class="clearfix"></div>
                </div>
                <div class="widget-body">
                  <div class="alert alert-success">No reported server issues</div>
                  <div class="alert alert-info">A new user 'Joe Bickham' joined!</div>
                  <div class="alert alert-warning">Server 'HAProxyVM2' did not respond on it's last check, warning issued!</div>
                  <div class="alert alert-danger">Server 'APPPHVM04' has not responded on it's last two checks!</div>
                </div>
              </div>
            </div>
            <div class="col-lg-6">
              <div class="widget">
                <div class="widget-title"><i class="fa fa-cog fa-spin"></i> Loading Directive</div>
                <div class="widget-body">
                  <!-- Check out the Angular Directive inside bootstrap.js! -->
                  <loading></loading>
                </div>
              </div>
            </div>
          </div>

        <!-- End Main Content -->

      </div><!-- End Page Content -->
    </div><!-- End Content Wrapper -->
  </div><!-- End Page Wrapper -->
</body>
</html>
