<!doctype html>
<html lang="en" ng-app="DigiFoosball" ng-controller="MainCtrl">
<head>
	<meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <base href="/">

	<title ng-bind-template="Digi Foosball :: {{title}}">Digi Foosball</title>

  <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="css/font-awesome.min.css">
  <link rel="stylesheet" type="text/css" href="css/dashboard/dashboard.css">

<%= include_js_files([
        'app/bower_components/angular/angular.min.js',
        'js/angular-cookies.js',
        'js/ng-bootstrap-tpls.min.js',
        'app/bower_components/angular-route/angular-route.min.js',
        'app/bower_components/angular-resource/angular-resource.min.js',
        'app/bower_components/d3/d3.min.js',
        'app/bower_components/angular-charts/dist/angular-charts.min.js',
        'app/app.js'
    ]) %>
</head>
<body>
  <div id="page-wrapper" ng-class="{'active': toggle, 'open-modal': hasModalOpen}" ng-cloak>

    <!-- Sidebar -->

    <div id="sidebar-wrapper">
      <ul class="sidebar">
        <li class="sidebar-main">
          <a href="/">
            <img src="img/logo.png" alt="Digi" style="max-height:30px;"/>
            Digi Foosball
          </a>
        </li>
        <li class="sidebar-list">
          <a href="/">Dashboard <span class="menu-icon fa fa-tachometer"></span></a>
        </li>
        <li class="sidebar-list">
          <a href="/games">Game History <span class="menu-icon fa fa-trophy"></span></a>
        </li>
        <li class="sidebar-list">
          <a href="/players">Player List <span class="menu-icon fa fa-users"></span></a>
        </li>
      </ul>
      <div class="sidebar-footer">
        <div class="col-xs-12">
          <a href="https://github.com/BRKalow/digifoosball" target="_blank">
            Github
          </a>
        </div>
      </div>
    </div>

    <!-- End Sidebar -->

    <div id="content-wrapper">
      <div class="page-content">

        <!-- Header Bar -->

        <div class="row header">
          <div class="col-lg-6 col-md-6 col-xs-12">
            <div class="toggle-button" ng-click="toggleSidebar()">
              <span>
                <i class="fa fa-2x fa-align-justify green-icon"></i>
              </span>
            </div>
            <div class="meta pull-left">
              <div class="page">
                <a href="#">Digi Foosball</a>
              </div>
              <div class="breadcrumb-links">
                {{ title }}
              </div>
            </div>
          </div>
          <div class="col-lg-6 col-md-6 col-xs-12">
            <div class="buttons pull-right">
              <span class="notice" ng-if="gameGoingOn[0].id">
                <a ng-href="games/{{ gameGoingOn[0].id }}">Game currently in progress!</a>
              </span>
              <button class="btn btn-sm btn-info" ng-class="{'disabled':gameGoingOn[0].id}" ng-click="newGameModal()">Start game</button>
              <button class="btn btn-sm btn-info" ng-click="newPlayerModal()">Create player</button>
            </div>
          </div>
        </div>

        <!-- End Header Bar -->

        <!-- Main Content -->
          <loading ng-if="loading"></loading>
          <div ng-view ng-if="!loading"></div>

        <!-- End Main Content -->

      </div><!-- End Page Content -->
    </div><!-- End Content Wrapper -->
  </div><!-- End Page Wrapper -->
  <alert ng-repeat="alert in alerts" close="closeAlert()">
    {{ alert.msg }}
  </alert>
<%= include_js_folders(['app/services', 'app/directives', 'app/controllers']) %>
</body>
</html>
